<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.room.admin.mapper.adminMapper">


<insert id ="notice">
INSERT INTO notice_board (notice_title, notice_content)
		values (#{notice_title}, #{notice_content} )
</insert>

	
	<select id="roomKind" resultType="com.room.admin.dto.RoomKindDTO">
		SELECT *
		FROM room_kind
	</select>


   <!-- 공지사항 검색조건 -->
   <sql id="noticeSearch">
      <if test="searchType != null">
         <if test="searchType == 'title'.toString()">AND notice_title LIKE CONCAT('%',#{keyword},'%')</if>
         <if test="searchType == 'content'.toString()">AND notice_content  LIKE CONCAT('%',#{keyword},'%')</if>
      </if>
   </sql>

   <!-- 공지사항 목록 보기 (Paging 처리) + 검색조건 -->
   <select id="noticePaging" parameterType="com.room.admin.dto.SearchCriteria" resultType="com.room.admin.dto.BoardDTO">
    <![CDATA[
        SELECT   *  
        FROM   notice_board 
        WHERE   1=1
    ]]>
      <include refid="noticeSearch"/>
    <![CDATA[
        ORDER BY notice_bno DESC
        LIMIT   #{pageStart}, #{perPageNum}
    ]]>
   </select>
   
   	<!-- 전체 공지사항 수 구하기 (Paging 처리) -->
	<select id="noticeTotalCount" resultType="Integer">
    <![CDATA[
        SELECT	count(*)
        FROM	notice_board
    ]]>
	</select>

	<!-- 공지사항 상세페이지 -->
	<select id="detailView" parameterType="int" resultType="com.room.admin.dto.BoardDTO">
	SELECT notice_bno,
		   notice_title,
		   notice_content,
		   notice_date
	FROM   notice_board		   
	WHERE  notice_bno = #{notice_bno}
	</select>
	
	<!-- 공지사항 수정 -->
	<update id="noticeUpdate" parameterType="com.room.admin.dto.BoardDTO">
	update notice_board
	set notice_title = #{notice_title},
		notice_content = #{notice_content}
	where notice_bno = #{notice_bno}
</update>
</mapper>